In [54]:
import sqlalchemy as sa
import pandas as pd
connection_string = (
    'Driver=ODBC Driver 17 for SQL Server;'
    'Server=DESKTOP-7TRDV4C;'
    'Database=trademap;'
    'UID=sa;'
    'PWD=Aa@97019701;'
    'Trusted_Connection=no;'
)
connection_url = sa.engine.URL.create(
    "mssql+pyodbc", 
    query=dict(odbc_connect=connection_string)
)
engine = sa.create_engine(connection_url, fast_executemany=True)

In [55]:
test= pd.read_sql("select * from total", engine)

In [56]:
test.shape

(1245870, 20)

In [59]:
test[(test['Importer']=='Germany') &  (test['productcode']==160414)].head(100)

,Exporters,Value_imported,Trade_balance,ShareinCounryImports,Quantity_imported,Quantity_unit,Unit value (USD/unit),Growth5y_in_imported_value%,Growth5y_in_imported_quantity%,Growth1y_in_imported_value%,Export_partners_ranking,Export_share,Partner_export_growth5y%,Average_distance,Concentration,Average tariff%,Importer,productcode,insertdate,Year
8786,Papua New Guinea,94287.0,-94287.0,21.6,18187.0,Tons,5184.0,11.0,5.0,-12.0,12.0,2.8,3.0,14228.0,0.24,0.0,Germany,160414,2024-10-09,2023
8787,Ecuador,55521.0,-55521.0,12.7,10670.0,Tons,5203.0,-7.0,-11.0,52.0,2.0,14.1,5.0,7602.0,0.11,0.0,Germany,160414,2024-10-09,2023
8788,Netherlands,51063.0,-32876.0,11.7,7851.0,Tons,6504.0,0.0,-4.0,-30.0,8.0,3.4,2.0,721.0,0.11,0.0,Germany,160414,2024-10-09,2023
8789,Philippines,45333.0,-45333.0,10.4,9320.0,Tons,4864.0,-13.0,-18.0,-42.0,7.0,3.8,0.0,9500.0,0.10,0.0,Germany,160414,2024-10-09,2023
8790,Italy,29082.0,-27172.0,6.7,3987.0,Tons,7294.0,6.0,5.0,-3.0,9.0,3.2,7.0,2071.0,0.05,0.0,Germany,160414,2024-10-09,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8881,"Libya, State of",NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,78.0,0.0,13.0,2371.0,1.00,24.0,Germany,160414,2024-10-09,2023
8882,Chile,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,80.0,0.0,-68.0,3564.0,1.00,19.7,Germany,160414,2024-10-09,2023
8883,Dominican Republic,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,81.0,0.0,102.0,2687.0,0.33,0.0,Germany,160414,2024-10-09,2023
8884,Oman,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,82.0,0.0,5.0,1068.0,0.64,24.0,Germany,160414,2024-10-09,2023
8885,Trinidad and Tobago,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,86.0,0.0,5.0,727.0,0.19,0.0,Germany,160414,2024-10-09,2023

In [36]:
test.columns

Index(['Exporters', 'Value_imported', 'Trade_balance', 'ShareinCounryImports',
       'Quantity_imported', 'Quantity_unit', 'Unit value (USD/unit)',
       'Growth5y_in_imported_value%', 'Growth5y_in_imported_quantity%',
       'Growth1y_in_imported_value%', 'Export_partners_ranking',
       'Export_share', 'Partner_export_growth5y%', 'Average_distance',
       'Concentration', 'Average tariff%', 'Importer', 'productcode',
       'insertdate', 'Year'],
      dtype='object')

In [49]:
test.drop_duplicates(subset=['Exporters', 'Importer', 'productcode','Value_imported','Quantity_imported'], inplace=True)

In [61]:
test.shape

(1245870, 20)

In [64]:
test.isnull().sum()

Exporters                         0
Value_imported                    0
Trade_balance                     0
ShareinCounryImports              0
Quantity_imported                 0
Quantity_unit                     0
Unit value (USD/unit)             0
Growth5y_in_imported_value%       0
Growth5y_in_imported_quantity%    0
Growth1y_in_imported_value%       0
Export_partners_ranking           0
Export_share                      0
Partner_export_growth5y%          0
Average_distance                  0
Concentration                     0
Average tariff%                   0
Importer                          0
productcode                       0
insertdate                        0
Year                              0
dtype: int64

In [63]:
test.fillna(0, inplace=True)

In [65]:
test.describe()

,Value_imported,Trade_balance,ShareinCounryImports,Quantity_imported,Unit value (USD/unit),Growth5y_in_imported_value%,Growth5y_in_imported_quantity%,Growth1y_in_imported_value%,Export_partners_ranking,Export_share,Partner_export_growth5y%,Average_distance,Concentration,Average tariff%,productcode,Year
count,1.245870e+06,1.245870e+06,1.245870e+06,1.245870e+06,1.245870e+06,1.245870e+06,1.245870e+06,1.245870e+06,1.245870e+06,1.245870e+06,1.245870e+06,1.245870e+06,1.245870e+06,1.245870e+06,1.245870e+06,1245870.0
mean,3.289470e+02,-5.970898e+00,7.151089e-01,1.564124e+02,5.923150e+02,2.288003e+00,1.069918e+00,1.106383e+01,7.151502e+01,7.237967e-01,2.136031e+01,3.110083e+03,4.696336e-01,1.248492e+01,1.817723e+05,2023.0
std,9.786146e+03,9.696220e+03,5.788857e+00,9.626945e+03,5.493215e+03,2.449146e+01,1.507908e+01,4.801321e+02,4.596697e+01,2.466235e+00,7.016581e+01,3.106071e+03,3.293835e-01,1.876310e+01,4.192614e+04,0.0
min,0.000000e+00,-2.960162e+06,0.000000e+00,0.000000e+00,0.000000e+00,-9.400000e+01,-9.700000e+01,-1.000000e+02,0.000000e+00,0.000000e+00,-7.800000e+01,0.000000e+00,0.000000e+00,0.000000e+00,4.090000e+04,2023.0
25%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.300000e+01,0.000000e+00,0.000000e+00,8.880000e+02,1.800000e-01,0.000000e+00,1.806900e+05,2023.0
50%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.800000e+01,2.000000e-02,7.000000e+00,2.022000e+03,3.800000e-01,9.000000e+00,1.905900e+05,2023.0
75%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.050000e+02,3.000000e-01,2.200000e+01,4.330000e+03,7.600000e-01,2.000000e+01,2.006000e+05,2023.0
max,3.777508e+06,2.665192e+06,1.000000e+02,5.014956e+06,2.552000e+06,3.606000e+03,1.592000e+03,1.963000e+05,2.010000e+02,4.620000e+01,1.667000e+03,1.755300e+04,1.000000e+00,6.392000e+02,2.202100e+05,2023.0