In [31]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
from itertools import chain
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support.ui import Select
from selenium.webdriver.common.keys import Keys

In [32]:

driver= webdriver.Chrome()

In [33]:
driver.get("https://www.trademap.org/Index.aspx")

In [34]:
driver.maximize_window()
waits= WebDriverWait(driver, 20)

## Login Users

In [35]:
login=waits.until(EC.element_to_be_clickable((By.CSS_SELECTOR, '#ctl00_MenuControl_Label_Login')))
login.click()
getemail= waits.until(EC.element_to_be_clickable((By.CSS_SELECTOR, '#Username')))
getemail.send_keys('homa.abedinzadeh@gmail.com')

getpassword= waits.until(EC.element_to_be_clickable((By.CSS_SELECTOR, '#Password')))
getpassword.send_keys('Aa@97019701')

btnlogin=waits.until(EC.element_to_be_clickable((By.CSS_SELECTOR,'body > div.container > div > div:nth-child(2) > div > div > div > form > fieldset > div:nth-child(4) > div > button'))).click()

## Get Codes and Country

In [36]:
inputproduct= waits.until(EC.element_to_be_clickable ((By.CSS_SELECTOR, '#ctl00_PageContent_RadComboBox_Product_Input')))
inputproduct.send_keys(' 170410')

clkinput= waits.until(EC.element_to_be_clickable((By.CSS_SELECTOR,  '#ctl00_PageContent_RadComboBox_Product_c0'))).click()


inputContry= waits.until(EC.element_to_be_clickable((By.CSS_SELECTOR,  '#ctl00_PageContent_RadComboBox_Country_Input')))
inputContry.send_keys('Iran, Islamic Republic of')

clkinput2= waits.until(EC.element_to_be_clickable((By.CSS_SELECTOR,  '#ctl00_PageContent_RadComboBox_Country_c0'))).click()

btn=waits.until(EC.element_to_be_clickable((By.CSS_SELECTOR, '#ctl00_PageContent_Button_TradeIndicators'))).click()

In [37]:
incshow=waits.until(EC.element_to_be_clickable((By.XPATH , "//select[@id='ctl00_PageContent_GridViewPanelControl_DropDownList_PageSize']")))
drop=Select(incshow)
drop.select_by_value('300')

In [92]:
all_tables = pd.read_html(driver.page_source, attrs={'id': 'ctl00_PageContent_MyGridView1'})
df = all_tables[0]

In [93]:

df=df.iloc[1: , 1: ]
df=df.iloc[ : , :-4]

In [94]:
df['importer']='Iran, Islamic Republic of'

In [95]:
df.head(50)

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,importer
1,Exporters,Value imported in 2023 (USD thousand),Trade balance 2023 (USD thousand),"Share in Iran, Islamic Republic of's imports (%)",Quantity imported in 2023,Quantity unit,Unit value (USD/unit),"Growth in imported value between 2019-2023 (%,...",Growth in imported quantity between 2019-2023 ...,"Growth in imported value between 2022-2023 (%,...",Ranking of partner countries in world exports,Share of partner countries in world exports (%),Total exports growth in value of partner count...,Average distance between partner countries and...,Concentration of all importing countries of pa...,"Average tariff (estimated) applied by Iran, Is...","Iran, Islamic Republic of"
2,Total,1337,-1009,100,248,Tons,5391,6,1,45,NaN,100,6,NaN,NaN,NaN,"Iran, Islamic Republic of"
3,TÃ¼rkiye,970,-970,72.6,160,Tons,6063,14,16,27,3,7.5,14,2162,0.04,55,"Iran, Islamic Republic of"
4,China,200,-200,15,75,Tons,2667,-11,-18,517,1,11.3,10,9362,0.04,55,"Iran, Islamic Republic of"
5,Germany,134,-120,10,10,Tons,13400,7,13,43,13,2.2,5,1101,0.08,55,"Iran, Islamic Republic of"
6,Armenia,15,-10,1.1,1,Tons,15000,35,NaN,NaN,76,0.02,109,1716,0.81,55,"Iran, Islamic Republic of"
7,Italy,14,-14,1,2,Tons,7000,NaN,NaN,NaN,22,1.2,17,1623,0.24,55,"Iran, Islamic Republic of"
8,Austria,4,-3,0.3,0,Tons,NaN,49,NaN,19,57,0.2,13,619,0.19,55,"Iran, Islamic Republic of"
9,Bahrain,NaN,121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,112,0,13,414,0.63,55,"Iran, Islamic Republic of"
10,Kyrgyzstan,NaN,85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,118,0,44,525,1,55,"Iran, Islamic Republic of"
11,Azerbaijan,NaN,68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55,"Iran, Islamic Republic of"
12,Kazakhstan,NaN,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85,0.01,0,1175,0.33,55,"Iran, Islamic Republic of"
13,Canada,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,8.2,7,1412,0.94,55,"Iran, Islamic Republic of"
14,Australia,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42,0.3,-12,4095,0.13,55,"Iran, Islamic Republic of"
15,Jordan,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44,0.3,3,2320,0.12,55,"Iran, Islamic Republic of"
16,United Kingdom,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,3.5,4,2615,0.12,55,"Iran, Islamic Republic of"
17,Sweden,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47,0.3,6,481,0.48,55,"Iran, Islamic Republic of"
18,Switzerland,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66,0.08,11,425,0.96,55,"Iran, Islamic Republic of"
19,Tajikistan,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,125,0,NaN,NaN,1,55,"Iran, Islamic Republic of"
20,Netherlands,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,6.4,12,992,0.15,55,"Iran, Islamic Republic of"
21,CÃ´te d'Ivoire,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26,0.9,10,1399,0.52,55,"Iran, Islamic Republic of"
22,Sao Tome and Principe,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55,"Iran, Islamic Republic of"
23,Mexico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,5.1,-12,1654,0.77,55,"Iran, Islamic Republic of"
24,Spain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,4.9,23,2335,0.08,55,"Iran, Islamic Republic of"
25,United States of America,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,4.3,4,3794,0.17,55,"Iran, Islamic Republic of"
26,Pakistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,4.3,1,3580,0.1,55,"Iran, Islamic Republic of"
27,Kenya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,3.7,7,779,0.3,55,"Iran, Islamic Republic of"
28,Philippines,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,3.4,20,2091,0.31,55,"Iran, Islamic Republic of"
29,Eswatini,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,2.8,10,421,0.89,55,"Iran, Islamic Republic of"
30,Egypt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,2.1,5,3084,0.3,55,"Iran, Islamic Republic of"
31,France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15,2.1,-11,1514,0.09,55,"Iran, Islamic Republic of"
32,Brazil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16,1.9,5,4377,0.09,55,"Iran, Islamic Republic of"
33,South Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17,1.6,4,1018,0.16,55,"Iran, Islamic Republic of"
34,India,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18,1.5,8,6217,0.08,55,"Iran, Islamic Republic of"
35,Panama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19,1.5,85,3596,0.93,55,"Iran, Islamic Republic of"
36,Viet Nam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20,1.4,-1,6189,0.1,55,"Iran, Islamic Republic of"
37,Poland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21,1.4,20,1204,0.07,55,"Iran, Islamic Republic of"
38,Hungary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23,1.2,29,596,0.26,55,"Iran, Islamic Republic of"
39,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,1.1,5,950,0.65,55,"Iran, Islamic Republic of"
40,Japan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25,1.1,17,6348,0.13,55,"Iran, Islamic Republic of"
41,Denmark,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27,0.8,40,1228,0.16,55,"Iran, Islamic Republic of"
42,Colombia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28,0.7,19,2046,0.16,55,"Iran, Islamic Republic of"
43,"Korea, Republic of",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29,0.7,-3,3778,0.23,55,"Iran, Islamic Republic of"
44,Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30,0.6,13,415,0.45,55,"Iran, Islamic Republic of"
45,Morocco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31,0.6,28,5326,0.4,55,"Iran, Islamic Republic of"
46,Indonesia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32,0.6,6,5768,0.06,55,"Iran, Islamic Republic of"
47,Malaysia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33,0.6,-13,2693,0.21,55,"Iran, Islamic Republic of"
48,Guatemala,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34,0.5,11,789,0.29,55,"Iran, Islamic Republic of"
49,Ecuador,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35,0.5,10,6295,0.12,55,"Iran, Islamic Republic of"
50,Chile,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36,0.5,6,1791,0.83,55,"Iran, Islamic Republic of"

In [97]:
df.columns

Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 'importer'], dtype='object')