In [7]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
from itertools import chain
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support.ui import Select
from selenium.webdriver.common.keys import Keys
import numpy as np
import re
from numpy import random

In [8]:
#all_countries=pd.read_csv("C:/Users/homa/Python-Notbook/TradeMap/all_countries.csv")
Product_Code=pd.read_csv("C:/Users/homa/Python-Notbook/TradeMap/Product_Codem.csv")
#all_countries.head(2)

In [9]:
driver= webdriver.Chrome()
driver.get("https://www.trademap.org/Index.aspx")
#driver.maximize_window()
waits= WebDriverWait(driver, 30)

There was an error managing chromedriver (error sending request for url (https://googlechromelabs.github.io/chrome-for-testing/known-good-versions-with-downloads.json)); using driver found in the cache
Error sending stats to Plausible: error sending request for url (https://plausible.io/api/event)

In [10]:
def login():
    try:
        
        logintext=driver.find_element(By.CSS_SELECTOR ,("#ctl00_MenuControl_Label_Login"))
        if logintext.text=='Login': 
                
            login=waits.until(EC.element_to_be_clickable((By.CSS_SELECTOR, '#ctl00_MenuControl_Label_Login')))
            login.click()
            url= driver.current_url
            if url!='https://www.trademap.org/Index.aspx': 
                getemail= waits.until(EC.element_to_be_clickable((By.CSS_SELECTOR, '#Username')))
                getemail.send_keys('homa.abedinzadeh@gmail.com')
                #time.sleep(random.randint(5,20))
                getpassword= waits.until(EC.element_to_be_clickable((By.CSS_SELECTOR, '#Password')))
                getpassword.send_keys('Aa@97019701')
                #time.sleep(random.randint(5,20))
                waits.until(EC.element_to_be_clickable((By.CSS_SELECTOR,'body > div.container > div > div:nth-child(2) > div > div > div > form > fieldset > div:nth-child(4) > div > button'))).click()
            
    
    except Exception as e:
                print(f"Error selecting option : {e}")

In [11]:
def delete():
    waits.until(EC.element_to_be_clickable((By.CSS_SELECTOR, '#ctl00_PageContent_Image_deleteProduct'))).click()
    waits.until(EC.element_to_be_clickable((By.CSS_SELECTOR, '#ctl00_PageContent_Image_DeleteCountry'))).click()

In [15]:
df = pd.DataFrame()
temp = pd.DataFrame()
for i in range(len(Product_Code)):
    
    login()
    delete()
    time.sleep(random.randint(5,8))
    inputproduct = waits.until(EC.element_to_be_clickable((By.CSS_SELECTOR, '#ctl00_PageContent_RadComboBox_Product_Input')))
    inputproduct.send_keys(Product_Code['ProductCode'].iloc[i])
    time.sleep(random.randint(5,8))
    proclick = waits.until(EC.element_to_be_clickable((By.CSS_SELECTOR, '#ctl00_PageContent_RadComboBox_Product_c0'))).click()
    time.sleep(random.randint(2,3))
    btn = waits.until(EC.element_to_be_clickable((By.CSS_SELECTOR, '#ctl00_PageContent_Button_TradeIndicators'))).click()
    logintext=driver.find_element(By.CSS_SELECTOR ,("#ctl00_MenuControl_Label_Login"))
    if logintext.text=='Login':  
        login()


    dropdown_element = waits.until(EC.visibility_of_element_located((By.ID, 'ctl00_NavigationControl_DropDownList_Country')))  # Replace with actual ID     
    select = Select(dropdown_element)
    options = select.options
    for j in range(len(options)):  
        print(j)
        try:
            
            dropdown_element = waits.until(EC.visibility_of_element_located((By.ID, 'ctl00_NavigationControl_DropDownList_Country')))
            select = Select(dropdown_element)
            options = select.options
            option_text = options[j].text

            if option_text != 'All' or option_text.find('elsewhere ')!=-1  :
                select.select_by_visible_text(option_text)
                # تغییر تعداد رکوردها به 300
                incshow = waits.until(EC.element_to_be_clickable((By.XPATH, "//select[@id='ctl00_PageContent_GridViewPanelControl_DropDownList_PageSize']")))
                drop = Select(incshow)
                
                
                drop.select_by_value('300')





            # استخراج جدول
                all_tables = pd.read_html(driver.page_source, attrs={'id': 'ctl00_PageContent_MyGridView1'})
                temp = all_tables[0]

                if temp.shape[0] != 1:
                    temp = temp.iloc[1:, 1:].iloc[:, :-4]
                    new_header = temp.iloc[0]
                    temp = temp[1:]
                    temp.columns = new_header

                    # افزودن اطلاعات کشور و کد محصول
                    temp['Importer'] = option_text
                    temp['productcode'] = re.sub(r'[^\w]', ' ', Product_Code['ProductCode'].iloc[i])
                    temp.drop(temp[temp['Exporters'] == 'Total'].index, inplace=True)
                    temp.drop(temp[temp['Exporters'] == 'World'].index, inplace=True)

                    # تغییر نام ستون‌ها
                    average = temp.columns[15]
                    sharein = temp.columns[3]
                    temp.rename(columns={average: 'Average tariff%', sharein: 'ShareinCounryImports'}, inplace=True)

                    # افزودن به DataFrame اصلی
                    df = pd.concat([df, temp], axis=0)
                    temp = pd.DataFrame()

                    print(f"Selected option: {option_text}, {j}")
                time.sleep(random.randint(1,3))
            if (j+1)%10 ==0:
                    #driver.quit()
                    #driver= webdriver.Chrome()
                    waits.until(EC.element_to_be_clickable((By.CSS_SELECTOR, '#ctl00_MenuControl_Label_Menu_Home'))).click()
                    time.sleep(random.randint(2,5))
                    login()
                    delete()
                    time.sleep(random.randint(3,5))
                    inputproduct = waits.until(EC.element_to_be_clickable((By.CSS_SELECTOR, '#ctl00_PageContent_RadComboBox_Product_Input')))
                    inputproduct.send_keys(Product_Code['ProductCode'].iloc[i])
                    time.sleep(random.randint(5,8))
                    proclick = waits.until(EC.element_to_be_clickable((By.CSS_SELECTOR, '#ctl00_PageContent_RadComboBox_Product_c0'))).click()
                    time.sleep(random.randint(2,3))
                    btn = waits.until(EC.element_to_be_clickable((By.CSS_SELECTOR, '#ctl00_PageContent_Button_TradeIndicators'))).click()
                    
        
        except Exception as e:
            print(f"Error selecting option {j}: {e}")
            #remain[country]=option_text
            #remain[j]=j
            site = driver.current_url
            if site!= 'https://www.trademap.org/Index.aspx':
                driver.get('https://www.trademap.org/Index.aspx')
            login()
            delete()
            time.sleep(random.randint(3,5))
            inputproduct = waits.until(EC.element_to_be_clickable((By.CSS_SELECTOR, '#ctl00_PageContent_RadComboBox_Product_Input')))
            inputproduct.send_keys(Product_Code['ProductCode'].iloc[i])
            time.sleep(random.randint(3,6))
            proclick = waits.until(EC.element_to_be_clickable((By.CSS_SELECTOR, '#ctl00_PageContent_RadComboBox_Product_c0'))).click()
            time.sleep(random.randint(2,3))
            btn = waits.until(EC.element_to_be_clickable((By.CSS_SELECTOR, '#ctl00_PageContent_Button_TradeIndicators'))).click()
            j-=1    

        
    waits.until(EC.element_to_be_clickable((By.CSS_SELECTOR, '#ctl00_MenuControl_Label_Menu_Home'))).click()
    #delete()
    time.sleep(30)
    driver.refresh()
    i+=1

0
1
Selected option: Afghanistan, 1
2
3
Selected option: Albania, 3
4
Selected option: Algeria, 4
5
6
7
Selected option: Andorra, 7
8
Selected option: Angola, 8
9
Selected option: Anguilla, 9
10
Selected option: Antigua and Barbuda, 10
11
Selected option: Area Nes, 11
12
Selected option: Argentina, 12
13
Selected option: Armenia, 13
14
Selected option: Aruba, 14
15
16
Selected option: Australia, 16
17
Selected option: Austria, 17
18
Selected option: Azerbaijan, 18
19
Selected option: Bahamas, 19
20
Selected option: Bahrain, 20
21
Selected option: Bangladesh, 21
22
Selected option: Barbados, 22
23
Selected option: Belarus, 23
24
Selected option: Belgium, 24
25
Selected option: Belize, 25
26
Selected option: Benin, 26
27
Selected option: Bermuda, 27
28
Selected option: Bhutan, 28
29
Selected option: Bolivia, Plurinational State of, 29
30
Selected option: Bonaire, Sint Eustatius and Saba, 30
31
Selected option: Bosnia and Herzegovina, 31
32
Selected option: Botswana, 32
33
34
Selected option: Brazil, 34
35
36
Selected option: British Indian Ocean Territory, 36
37
Selected option: British Virgin Islands, 37
38
Selected option: Brunei Darussalam, 38
39
Selected option: Bulgaria, 39
40
Selected option: Burkina Faso, 40
41
Selected option: Burundi, 41
42
Selected option: Cabo Verde, 42
43
Selected option: Cambodia, 43
44
Selected option: Cameroon, 44
45
Selected option: Canada, 45
46
47
Selected option: Cayman Islands, 47
48
49
Selected option: Central African Republic, 49
50
Selected option: Chad, 50
51
Selected option: Chile, 51
52
Selected option: China, 52
53
Selected option: Christmas Island, 53
54
55
Selected option: Colombia, 55
56
Selected option: Comoros, 56
57
Selected option: Congo, 57
58
Selected option: Congo, Democratic Republic of the, 58
59
Selected option: Cook Islands, 59
60
Selected option: Costa Rica, 60
61
Selected option: Côte d'Ivoire, 61
62
Selected option: Croatia, 62
63
Selected option: Cuba, 63
64
Selected option: Curaçao, 64
65
Selected option: Cyprus, 65
66
Selected option: Czech Republic, 66
67
Selected option: Denmark, 67
68
Selected option: Djibouti, 68
69
Selected option: Dominica, 69
70
Selected option: Dominican Republic, 70
71
72
Selected option: Ecuador, 72
73
Selected option: Egypt, 73
74
Selected option: El Salvador, 74
75
Selected option: Equatorial Guinea, 75
76
77
Selected option: Estonia, 77
78
Selected option: Eswatini, 78
79
Selected option: Ethiopia, 79
80
81
Selected option: Europe Othr. Nes, 81
82
Selected option: European Union Nes, 82
83
Selected option: Falkland Islands (Malvinas), 83
84
Selected option: Faroe Islands, 84
85
Selected option: Fiji, 85
86
Selected option: Finland, 86
87
Selected option: France, 87
88
Selected option: Free Zones, 88
89
Selected option: French Polynesia, 89
90
91
Selected option: Gabon, 91
92
Selected option: Gambia, 92
93
Selected option: Georgia, 93
94
Selected option: Germany, 94
95
Selected option: Ghana, 95
96
Selected option: Gibraltar, 96
97
Selected option: Greece, 97
98
Selected option: Greenland, 98
99
Selected option: Grenada, 99
100
101
Selected option: Guatemala, 101
102
Selected option: Guinea, 102
103
Selected option: Guinea-Bissau, 103
104
Selected option: Guyana, 104
105
Selected option: Haiti, 105
106
Selected option: Honduras, 106
107
Selected option: Hong Kong, China, 107
108
Selected option: Hungary, 108
109
Selected option: Iceland, 109
Error selecting option 109: Message:

110
Selected option: India, 110
111
Selected option: Indonesia, 111
112
Selected option: Iran, Islamic Republic of, 112
113
Selected option: Iraq, 113
114
Selected option: Ireland, 114
115
Selected option: Israel, 115
116
Selected option: Italy, 116
117
Selected option: Jamaica, 117
118
Selected option: Japan, 118
119
Selected option: Jordan, 119
120
Selected option: Kazakhstan, 120
121
Selected option: Kenya, 121
122
Selected option: Kiribati, 122

KeyboardInterrupt:

In [25]:
df.shape

(141501, 18)

In [26]:
df.head()

1,Exporters,Value imported in 2023 (USD thousand),Trade balance 2023 (USD thousand),ShareinCounryImports,Quantity imported in 2023,Quantity unit,Unit value (USD/unit),"Growth in imported value between 2019-2023 (%, p.a.)","Growth in imported quantity between 2019-2023 (%, p.a.)","Growth in imported value between 2022-2023 (%, p.a.)",Ranking of partner countries in world exports,Share of partner countries in world exports (%),"Total exports growth in value of partner countries between 2019-2023 (%, p.a.)",Average distance between partner countries and all their importing markets (km),Concentration of all importing countries of partner countries,Average tariff%,Importer,productcode
3,Czech Republic,NaN,167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33,0.1,9,280,0.42,10,Afghanistan,200290
4,United States of America,NaN,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,6.1,8,5410,0.14,10,Afghanistan,200290
5,Andorra,NaN,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,Afghanistan,200290
6,China,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,26.7,18,7878,0.05,10,Afghanistan,200290
7,Italy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,25.1,13,2253,0.09,10,Afghanistan,200290

In [30]:
temp.head()

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,Information not available,Information not available,Information not available,Information not available,Information not available,Information not available,Information not available,Information not available,Information not available,Information not available,...,Information not available,Information not available,Information not available,Information not available,Information not available,Information not available,Information not available,Information not available,Information not available,Information not available

In [36]:
df[df['Exporters'] =='World']

1,Exporters,Value imported in 2023 (USD thousand),Trade balance 2023 (USD thousand),ShareinCounryImports,Quantity imported in 2023,Quantity unit,Unit value (USD/unit),"Growth in imported value between 2019-2023 (%, p.a.)","Growth in imported quantity between 2019-2023 (%, p.a.)","Growth in imported value between 2022-2023 (%, p.a.)",Ranking of partner countries in world exports,Share of partner countries in world exports (%),"Total exports growth in value of partner countries between 2019-2023 (%, p.a.)",Average distance between partner countries and all their importing markets (km),Concentration of all importing countries of partner countries,Average tariff%,Importer,productcode
2,World,129,-129,100,79,Tons,1633,37,24,90,NaN,100,16,NaN,NaN,NaN,Andorra,200290
2,World,302,-302,100,74,Tons,4081,10,-4,14,NaN,100,16,NaN,NaN,NaN,Antigua and Barbuda,200290
2,World,16300,-15252,100,7899,Tons,2064,-18,-33,47,NaN,100,16,NaN,NaN,NaN,Argentina,200290
2,World,9709,-1903,100,8748,Tons,1110,30,19,394,NaN,100,16,NaN,NaN,NaN,Armenia,200290
2,World,233,-233,100,107,Tons,2178,5,-2,28,NaN,100,16,NaN,NaN,NaN,Aruba,200290
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2,World,41,788560,100,5,Carats,8200,-36,-66,825,NaN,100,-14,NaN,NaN,NaN,Canada,71021
2,World,NaN,82,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100,-14,NaN,NaN,NaN,China,71021
2,World,4,-4,100,0,Tons,NaN,-24,NaN,-60,NaN,100,-14,NaN,NaN,NaN,Costa Rica,71021
2,World,24,-24,100,0,Tons,NaN,NaN,NaN,NaN,NaN,100,-14,NaN,NaN,NaN,Croatia,71021
2,World,20,-13,100,0,Tons,NaN,NaN,NaN,NaN,NaN,100,-14,NaN,NaN,NaN,Denmark,71021